<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Aceros Soria · Venta de ….. · Productos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Gilberto Alonso Caballero Trujano">

<!-- Stylesheets -->
<link href="style/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="style/font-awesome.css">
<link href="style/prettyPhoto.css" rel="stylesheet">
<!-- Parallax slider -->
<link rel="stylesheet" href="style/slider.css">
<!-- Flexslider -->
<link rel="stylesheet" href="style/flexslider.css">
<link href="style/style.css" rel="stylesheet">

<!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
<link href="style/blue.css" rel="stylesheet">
<link href="style/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="logo">
          <h1><a href="index1.html#">Aceros Soria<span class="color"> // Productos</span></a></h1>
          <div class="hmeta"><div>Telefono:555-555-555</div>
        </div>
      </div>
      <div class="span4"> </div>
      </div>
    </div>
  </div>
</header>
<div class="content">
  <div class="container"> 
    
    <!-- Services starts -->
    
    <div class="services">
      <div class="row">
        <div class="span6">
          <div class="col-l">
            <div class="service">
              <div class="b-orange serv-block"> <i class="icon-home"></i>
                <h3>Inicio</h3>
              </div>
            </div>
          </div>
          <div class="col-r">
            <div class="service">
              <div class="b-purple serv-block"> <i class="icon-briefcase"></i>
                <h3>Nosotros</h3>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="span6">
          <div class="col-l">
            <div class="service">
              <div class="b-blue serv-block"> <i class="icon-truck"></i>
                <h3>Productos</h3>
              </div>
            </div>
          </div>
          <div class="col-r">
            <div class="service">
              <div class="b-green serv-block"> <i class="icon-envelope"></i>
                <h3>Contacto</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Services Ends -->
  </div>
  <div class="clearfix"></div>
 
  
  <!-- Hero Unit -->
  <div class="clearfix"></div>
  <div class="container">
  
  <div class="container">

    <h2>Nombre de producto</h2>
    <p class="big grey">Tabla de precios de: Producto.</p>
    <hr />


                  <div class="row">

                      <div class="span4">
                        <div class="well">
                          <h2>$848</h2>
                          <p>Current Period Earnings (23/23/2012)</p>
                        </div>
                      </div>

                      <div class="span4">
                        <div class="well">
                          <h2>$883</h2>
                          <p>Previous Month Earning (34/23/2032)</p>                        
                        </div>
                      </div>

                      <div class="span4">
                        <div class="well">
                          <h2>$23232</h2>
                          <p>All Time Earning </p>
                        </div>
                      </div>

                    </div>

                    <div class="row">

                      <div class="span12">
                        <table class="table table-striped table-hover table-bordered">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Earnings</th>
                              <th>Order ID</th>
                              <th>Buyer</th>
                              <th>Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Producto</td>
                              <td>$00.oo</td>
                              <td>534343</td>
                              <td>Ravi Kumar</td>
                              <td>3 Days ago</td>
                            </tr>     
                            <tr>
                              <td>2</td>
                              <td>Apple iPhone 6G - Black</td>
                              <td>$15</td>
                              <td>565445</td>
                              <td>Babu Raj</td>
                              <td>6 Days ago</td>
                            </tr>                                                                        <tr>
                              <td>3</td>
                              <td>Samsung Galaxy Metro</td>
                              <td>$35</td>
                              <td>976876</td>
                              <td>Ashok</td>
                              <td>8 Days ago</td>
                            </tr> 
                            <tr>
                              <td>4</td>
                              <td>Nokia Lumina Asha</td>
                              <td>$22</td>
                              <td>232454</td>
                              <td>Raja Ram</td>
                              <td>10 Days ago</td>
                            </tr> 
                            <tr>
                              <td>5</td>
                              <td>Motorola Razr 5304</td>
                              <td>$18</td>
                              <td>787876</td>
                              <td>Kumerasa</td>
                              <td>12 Days ago</td>
                            </tr> 
                            <tr>
                              <td>6</td>
                              <td>Micromox Canvas Small</td>
                              <td>$30</td>
                              <td>656543</td>
                              <td>Sagunai</td>
                              <td>15 Days ago</td>
                            </tr>                                                                                                                     
                            <tr>  
                              <td></td>
                              <td><strong>Total</strong></td>
                              <td><strong>$485</strong></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>

                      </div> 
                    </div>


  <div class="border"></div>

<!-- Product & links starts --><!-- Product & links ends --> 

  </div>
  
    <hr />
  </div>
  
  <!-- Discover starts

  <div class="discover">
    <div class="row">
      <div class="span12">
        <h3>Discover</h3>
        <div class="big grey">Check out some of our Cool Products.</div>
          <div class="dis-nav button">
            <a href="index1.html#" id="one">Linux 8</a> 
            <a href="index1.html#" id="two">Linux 7</a> 
            <a href="index1.html#" id="three">Linux Phone</a> 
            <a href="index1.html#" id="four">MS Office</a> 
            <a href="index1.html#" id="five">PlayStation</a> 
            <a href="index1.html#" id="six">GTalk</a>
          </div>

          <div class="dis-content">
            <div class="one">
                <h3>Linux 8</h3>
                <p>Linux 8. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                <a href="index1.html#" class="btn btn-warning"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index1.html#" class="btn btn-success">Try Now</a>
            </div>
            <div class="two">
                <h3>Linux 7</h3>
                <p>Linux 7. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                <a href="index1.html#" class="btn btn-warning"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index1.html#" class="btn btn-success">Try Now</a>
            </div>
            <div class="three">
               <h3>Linux Phone</h3>
                <p>Linux Phone. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                <a href="index1.html#" class="btn btn-warning"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index1.html#" class="btn btn-success">Try Now</a>              
            </div>
            <div class="four">
               <h3>MS Office</h3>
                <p>MS Office. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                <a href="index1.html#" class="btn btn-warning"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index1.html#" class="btn btn-success">Try Now</a>              
            </div>
            <div class="five">
               <h3>PlayStation</h3>
                <p>PlayStation. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                <a href="index1.html#" class="btn btn-warning"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index1.html#" class="btn btn-success">Try Now</a>              
            </div>
            <div class="six">
               <h3>GTalk</h3>
                <p>GTalk. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante. Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                <a href="index1.html#" class="btn btn-warning"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index1.html#" class="btn btn-success">Try Now</a>              
            </div>
          </div>
      </div>
    </div>
  </div>

Disconver ends -->
  </div>
  <hr />
  <div class="border"></div>
  
  <!-- Product & links starts --> 
  

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big"><span>Siguenos</span> <a href="index1.html#"><i class="icon-facebook"></i>Facebook</a> <a href="index1.html#"><i class="icon-twitter"></i>Twitter</a> <a href="index1.html#"><i class="icon-google-plus"></i>Google Plus</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="copy">
          <h6>Aceros <span class="color">Soria</span></h6>
          <p>Copyright &copy; <a href="index1.html#">Aceros Soria</a> - <a href="index.html">Inicio</a> | <a href="privacy.html">Políticas de Privacidad</a> | <a href="tos.html">Terminos y Condiciones de Uso</a> | <a href="faq.html">FAQ</a> | <a href="contacto.html">Contacto</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>

<!-- JS --> 
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/jquery.isotope.js"></script> <!-- Isotope for gallery --> 
<script src="js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images --> 
<script src="js/jquery.cslider.js"></script> <!-- Parallax slider --> 
<script src="js/modernizr.custom.28468.js"></script> 
<script src="js/filter.js"></script> <!-- Filter for support page --> 
<script src="js/cycle.js"></script> <!-- Cycle slider --> 
<script src="js/jquery.flexslider-min.js"></script> <!-- Flex slider --> 

<script src="js/easing.js"></script> <!-- Easing --> 
<script src="js/custom.js"></script>
</body>
</html>